<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Awesomium.Windows.Forms.Unofficial" version="1.7.5.0" targetFramework="net47" />
  <package id="FreeSpire.Office" version="4.3.1" targetFramework="net47" />
  <package id="MimeMapping" version="1.0.1.30" targetFramework="net47" />
  <package id="MimeTypesMap" version="1.0.8" targetFramework="net47" />
</packages>